@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> This weather application provides the weather information for the entered location.</p>
    <p> It uses the following API: </p>
    <p> "https://api.openweathermap.org/" </p>
    <p> Created by Sam King </p>
</div>
